<nav class="navbar navbar-expand-md navbar-dark fixed-top bg-dark">
  <%= link_to Rails.configuration.application_name, root_path, class: 'navbar-brand' %>
  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarCollapse" aria-controls="navbarCollapse" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>
  <div class="collapse navbar-collapse" id="navbarCollapse">
    <ul class="navbar-nav mr-auto">
      <li class="<%= "nav-item #{active_element_nav('resources')}" %>">
        <%= link_to 'Resources', resources_path, class: "btn nav-link" %>
      </li>
      <li class="<%= "nav-item #{active_element_nav('guotations')}" %>">
        <%= link_to 'Guotations', quotations_path, class: "btn nav-link" %>
      </li>
    </ul>
  </div>
</nav>
